a {
    color: black ;
     margin-right: 10px;
     padding: 5px;
}

a.active{
    border : 1px solid black!important;
    border-radius: 5px;
}

#about-tab{
    color: grey;
}

.tab-content{
    padding: 1% !important;
    margin-top: 50px !important;
}
.pageContent{
    height: calc( 100% - 100px ) !important;
    max-height: calc( 100% - 50px ) ;
    overflow: scroll !important;
}

footer{
    position: fixed;
    padding-left: 10px;
    height: 50px;
    width: 100%;
    bottom: 0px;
    left: 0px;
}

.footerContent{
    padding-top: 10px!important;
}